@font-face {
  font-family: "Tahoma Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Tahoma Regular"), url("./assets/fonts/tahoma.woff") format("woff");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
